extends includes/tpl.pug
append head
  title The another crypto fund
block body
  body
    .background
      .background-filter
    .topbar
      .container
        .topbar-box
          .topbar-logo
            img.topbar-logo-white(src="./images/logo-white-small.svg" alt="CT")
            img.topbar-logo-black(src="./images/logo-black-small.svg" alt="CT")
          nav.topbar-nav
            div.topbar-nav-link-wrapper
              a.topbar-nav-link(href="#aboutUsSection") About Us
            div.topbar-nav-link-wrapper
              a.topbar-nav-link(href="#whatWeDoSection") What we do
            div.topbar-nav-link-wrapper
              a.topbar-nav-link(href="#missionSection") Our mission
            div.topbar-nav-link-wrapper
              a.topbar-nav-link(href="#partnersSection") Contact Us
    .main
      .container
        .main-logo
          img(src="./images/logo-white.svg" alt="Capital Trading")
        .main-title Investment and advisory firm focused on the blockchain technologies
        .main-chevron
          a.main-chevron-button(href="#aboutUsSection")
            img.main-chevron-image(src='./images/chevron-down.svg' alt="")
    .callout#aboutUsSection
      .container
        .callout-box
          img.callout-angle-left(src="./images/callout-left-bottom-angle.svg" alt="")
          img.callout-angle-right(src="./images/callout-right-top-angle.svg" alt="")
          .callout-title
            .callout-title-string About Us
            img.callout-title-divider(src="./images/callout-title-divider.svg" alt="")
          .callout-content
            p Located in heart of Southeast Asia, Capital Trading focuses on investing into most promising and innovative companies. We expedite the early-stage technology startups with revolutionary blockchain projects. As advisory, we help businesses choose the most optimal ways to raise capital through tokenization strategies and implement technologies in the right way to push the idea to the next level.
            p Capital Trading provides to partners a full scope of services in the crypto market which includes strategic investment and business advisory services. We build strong connections with our clients to find the best ways and opportunities. Together, we will transform global industries by connecting the power of distributed ledger technologies.
    .wwd#whatWeDoSection
      .container
        .wwd-title What we do
        .wwd-block
          .wwd-block-divider
          .wwd-block-icon
            img.wwd-block-icon-image(src="./images/research-icon.svg" alt="")
          .wwd-block-info
            .wwd-block-info-title Research
            .wwd-block-info-text The constant market opportunities searching process allows us to capture strategic upside growth and mitigate downside risks. Our analysis compares both qualitative and quantitative approaches with deep insight into economics fundamentals behind the projects.
        .wwd-block
          .wwd-block-divider
          .wwd-block-icon
            img.wwd-block-icon-image(src="./images/connect-icon.svg" alt="")
          .wwd-block-info
            .wwd-block-info-title Connect
            .wwd-block-info-text Our network expands across different areas such as institutional finance, technology, and marketing with a focus on the fast-growing Asian market. We build the bridges between people to combine talents, ideas, capitals, passion and visionary to create the future.
        .wwd-block
          .wwd-block-icon
            img.wwd-block-icon-image(src="./images/invest-icon.svg" alt="")
          .wwd-block-info
            .wwd-block-info-title Invest
            .wwd-block-info-text Smart money should be really smart to help the entrepreneurs achieve the growth and success on market. We are not only investors but also support our portfolio companies by advisory services providing and helping with business development.
    #missionSection
      .mission
        .container
          .mission-title Our mission
          img.mission-title-divider(src="./images/callout-title-divider.svg" alt="")
          .mission-text We strongly believe blockchain technology will be the part of technological future. Our mission is helping blockchain come to everyday life and prepare the base for the innovations through supporting the best initiatives in this field.
      .map
        .container
          .map-title Countries We Are Present In
          img.map-image(src="./images/map.png" alt="")
          img.map-image-small(src="./images/map-small.png" alt="")
          hr
    #partnersSection
      .partners
        .container
          .partners-title Our partners
          .partners-first-row
            img.partners-logo(src="./images/partner-1.svg" alt="")
            img.partners-logo(src="./images/partner-2.svg" alt="")
            img.partners-logo(src="./images/partner-3.svg" alt="")
            img.partners-logo(src="./images/partner-4.svg" alt="")
          .partners-second-row
            img.partners-logo(src="./images/partner-5.svg" alt="")
            img.partners-logo(src="./images/partner-6.svg" alt="")
            img.partners-logo(src="./images/partner-7.svg" alt="")
      .contacts
        .container
          .contacts-title Contact Us
          .contacts-info
            .contacts-info-email
              a(href="mailto:info@capitaltrading.io")
                img(src="./images/email.svg" alt="")
                span info@capitaltrading.io
            .contacts-info-links
              a(href="")
                img(src="./images/linkedin.svg" alt="")
              a(href="")
                img(src="./images/medium.svg" alt="")
              a(href="")
                img(src="./images/twitter.svg" alt="")
          hr.contacts-divider
          .contacts-cr
            img.contacts-cr-logo(src="./images/logo-footer.svg" alt="")
            .contacts-cr-text © Copyright 2018 Capital Trading. All Rights Reserved. Terms of Use and Privacy Policy
          
