extends includes/tpl.pug
append head
  title The another crypto fund
block body
  div.mock
    div.logo
      img(src="./images/logo.png" alt="Capital Trading")
      div.note Website is under renovation
