extends includes/tpl.pug
append head
  title The another crypto fund
block body
  body.mock-body
    div.mock
      div.logo
        img(src="./images/logo.svg" alt="Capital Trading")
        div.note Website is under renovation
